* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  font-size:16px;
  font-weight:400;
  margin:0;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 18%, 87%)
}
.parent{
  width: 60%;
  max-width:500px;
  min-width:200px;
  background-color: hsl(0, 0%, 100%);
  margin:20px;
  border-radius: 10px;
  padding:30px;
}
img {
  width: 100%;
  display:block;
  border-radius: 10px;
}
.child1 h1 {
  margin-top: 20px;
  font-size: 16px;
}
.child1 p {
  margin-top: 10px;
  margin-bottom:25px;
  font-size:14px;
  color: hsl(30, 10%, 34%);
}
.child2 h3 {
  margin-bottom: 10px;
  font-size: 14px;
  color:hsl(332, 51%, 32%);
}
.child2 ul {
  font-size: 14px;
  color:hsl(30, 10%, 34%);
  padding-left:30px;
}
.child2 ul li::marker {
  color:hsl(332, 51%, 32%);
}
.child2 ul li {
  margin-bottom: 5px;
  padding-left: 5px;
}
.child2 ul li:last-child {
  margin-bottom: 30px;
}
.child3 h3 {
  margin-bottom: 12px;
  font-size: 19px;
  color:hsl(14, 45%, 36%);
}
.child3 ul {
  font-size: 14px;
  color:hsl(30, 10%, 34%);
  padding-left:30px;
}
.child3 ul li::marker {
  color:hsl(14, 45%, 36%);
}
.child3 ul li {
  margin-bottom: 5px;
  padding-left: 5px;
}
.child3 ul li:last-child {
  margin-bottom: 30px;
}
.child4 h3 {
  margin-bottom: 12px;
  font-size: 19px;
  color:hsl(14, 45%, 36%);
}
.child4 ol {
  font-size: 14px;
  color:hsl(30, 10%, 34%);
  padding-left:30px;
}
.child4 ol li::marker {
  color:hsl(14, 45%, 36%);
}
.child4 ol li {
  margin-bottom: 5px;
  padding-left: 5px;
}
.child4 ol li:last-child {
  margin-bottom: 30px;
}
.child5 h3 {
  margin-bottom: 12px;
  font-size: 19px;
  color:hsl(14, 45%, 36%);
}
.child5 p {
  font-size: 14px;
  color:hsl(30, 10%, 34%);
}
.child5 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 17px;
}
.child5 table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color:hsl(30, 10%, 34%);
  font-size: 14px;
}
.child5 table td.value {
  font-weight: 700;
  color:hsl(14, 45%, 36%);
}
@media (max-width: 480px) {

  #container {
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
  }

  .parent {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .parent img {
    width: 100%;
    display: block;
    border-radius: 0;
  }

  .child1,
  .child2,
  .child3,
  .child4,
  .child5 {
    padding: 20px;
  }
}
